.about {
    padding-bottom: 2rem;
    background:
    linear-gradient(
        to right,
        rgba($primary-color, 0.5),
        rgba($primary-color, 0.3)
    ),
    url('../img/background.png') center top;
    background-size: cover;
    color: set-text-color($primary-color);

       p {
        margin-top: 50px;
        margin-bottom: 2rem;
       }

    &__bio {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        padding-top: 40px;
        font-size: 1.5rem;

        .text-secondary {
            padding-bottom: 1rem;
        }
    }

    .jobs {
        width: 60vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        padding-top: 60px;
        padding-bottom: 60px;        

        &__job {
            background: lighten($primary-color, 10%);
            padding: 0.5rem;
            border-bottom: 5px solid $secondary-color;

            h2, h3 {
                margin:  0.5rem 0;
            }

            h2 {
                color: $secondary-color !important;
            }

            h6 {
                margin: 0.3rem 0;
            }
        }
    }
}