@include media-md {
    .projects {
        &__bio-image {
            height: 40vh;
        }

        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
        .text-secondary {
            font-size: 3rem;
        }
    }

    .container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@include media-lg {
    .projects {        
        &__items {
            grid-template-columns: repeat(3, 1fr);
        }
        .text-secondary {
            font-size: 3rem;
        }
    }
}

@include media-xl {

}