@include media-md {

    .home {
        padding-top: 30vh;

        &__name {
            font-size: 4rem;

            &--last {
                font-size: 2rem;
            }
        }
    }

    .about {
        padding-bottom: 1rem;

        &__bio {
            width: 95%;
            font-size: 1.2rem;
        }

        .jobs {
            width: 70vw;
            grid-template-columns: 1fr;
        }
    }

    .contact {
        font-size: 1.5rem;
        padding-top: 50px;
        padding-bottom: 60px;
    }
}

@include media-lg {

    .home {
        padding-top: 20vh;

        &__name {
            font-size: 3rem;

            &--last {
                font-size: 1.5rem;
            }
        }
    }

    .about {
        padding-bottom: 0.5rem;

        &__bio {
            width: 90%;
            font-size: 1.3rem;
        }

        .jobs {
            width: 65vw;
            grid-template-columns: 1fr 1fr;
        }
    }

    .contact {
        font-size: 1.2rem;
        padding-top: 60px;
        padding-bottom: 70px;
    }
}

@include media-xl {

}