@include media-md {

    .home {
        padding-top: 30vh;

        &__name {
            font-size: 4rem;

            &--last {
                font-size: 2rem;
            }
        }
    }

    .about {
        padding-bottom: 1rem;

        &__bio {
            width: 95%;
            font-size: 1.2rem;
        }

        .jobs {
            width: 70vw;
            grid-template-columns: 1fr;
        }
    }

    .contact {
        font-size: 1.5rem;
        padding-top: 50px;
        padding-bottom: 60px;
    }
}

@include media-lg {
    .about__bio {
        width: 90%;
    }

    .jobs {
        width: 80vw;
        grid-template-columns: 1fr;
    }
}

@include media-xl {

}