* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 768px) {
  .home {
    padding-top: 30vh;
  }
  .home__name {
    font-size: 4rem;
  }
  .home__name--last {
    font-size: 2rem;
  }
  .about {
    padding-bottom: 1rem;
  }
  .about__bio {
    width: 95%;
    font-size: 1.2rem;
  }
  .about .jobs {
    width: 70vw;
    grid-template-columns: 1fr;
  }
  .contact {
    font-size: 1.5rem;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}
@media screen and (min-width: 1024px) {
  .home {
    padding-top: 20vh;
  }
  .home__name {
    font-size: 3rem;
  }
  .home__name--last {
    font-size: 1.5rem;
  }
  .about {
    padding-bottom: 0.5rem;
  }
  .about__bio {
    width: 90%;
    font-size: 1.3rem;
  }
  .about .jobs {
    width: 65vw;
    grid-template-columns: 1fr 1fr;
  }
  .contact {
    font-size: 1.2rem;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}
.home {
  height: 100vh;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgba(28, 28, 28, 0.5), rgba(28, 28, 28, 0.3)), url("../img/background.png") center top;
  background-size: cover;
  color: #fff;
}
.home__name {
  font-size: 5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #fff;
}
.home__name--last {
  color: #FB8B24;
  font-weight: 700;
}

.about {
  padding-bottom: 2rem;
  background: linear-gradient(to right, rgba(28, 28, 28, 0.5), rgba(28, 28, 28, 0.3)), url("../img/background.png") center top;
  background-size: cover;
  color: #fff;
}
.about p {
  margin-top: 50px;
  margin-bottom: 2rem;
}
.about__bio {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
  font-size: 1.5rem;
}
.about__bio .text-secondary {
  padding-bottom: 1rem;
}
.about .jobs {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  padding-bottom: 60px;
}
.about .jobs__job {
  background: #363636;
  padding: 0.5rem;
  border-bottom: 5px solid #FB8B24;
}
.about .jobs__job h2, .about .jobs__job h3 {
  margin: 0.5rem 0;
}
.about .jobs__job h2 {
  color: #FB8B24 !important;
}
.about .jobs__job h6 {
  margin: 0.3rem 0;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
  background: linear-gradient(to right, rgba(28, 28, 28, 0.5), rgba(28, 28, 28, 0.3)), url("../img/background.png") center top;
  background-size: cover;
  color: #fff;
  padding-bottom: 50px;
}
.contact h2.text-secondary {
  color: #FB8B24 !important;
}
.contact .btn-primary {
  background-color: #FB8B24;
  color: #1C1C1C;
  font-weight: 700;
}

header {
  background: #1C1C1C;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  margin: 0 1rem;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
header nav ul li a:hover {
  transition: all 0.5s ease-in-out;
  color: #FB8B24;
}

.active > a {
  color: #FB8B24;
}

footer {
  background: #1C1C1C;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
footer a:hover {
  transition: all 0.5s ease-in-out;
  color: #FB8B24;
}/*# sourceMappingURL=main.css.map */